EXPO_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT_REF.supabase.co
# You can use either variable name below. If both are set, EXPO_PUBLIC_SUPABASE_ANON_KEY is used first.
EXPO_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_OR_PUBLISHABLE_KEY
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=YOUR_SUPABASE_PUBLISHABLE_KEY
